<ion-view title="Step 5">
<ion-content>
<ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
 <div class='step-text'>
Thank you very much for your time! 

I will make sure to be in contact with your startup again. Have a great week.
</div>
</ion-content>
</ion-view>
