<ion-view title="Step2">
<ion-content>
<ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
 <div class='step-text'>
That’s not a problem! He is a productivity writer and speaker. <span class='question'> Does helping your startup’s productivity sound interesting to you? </span>
</div>
<a href="#/step3" class="button button-block button-positive">
                    Yes
                </a>
                <a href="#/step3" class="button button-block button-positive">
                    No
                </a>
</ion-content>
</ion-view>
