<ion-view title="Step4">
<ion-content>
<ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
 <div class='step-text'>
That ok, <span class='question'> is there someone at the startup I could talk to who knows more about the productivity methods you guys use? </span></div>
<a href="#/step5" class="button button-block button-positive">
                    NOPE SORRY
                </a>
                <a href="#/step5" class="button button-block button-positive">
                    YEAH
                </a>
</ion-content>
</ion-view>
