<ion-view title="Step1">
<ion-content>
<ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
    <div class='step-text'>
Hi <span class='text-from-form'>James</span>, my name is <span class='text-from-form'>Stephanie</span>, how are you doing today? I’m calling some startups in the area to find out if they are a good fit for our beta program. We provide companies with a solution for getting things done. <span class='question'>Are you familiar with David Allen?</span>
  </div>
<a href="#/step2" class="button button-block button-positive">
                    Yes
                </a>
                <a href="#/step2" class="button button-block button-positive">
                    No
                </a>
</ion-content>
</ion-view>
