<ion-view title="Step3">
<ion-content>
<ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
 <div class='step-text'>
Great, <span class='question'> what is the current process that your startup uses for getting things done? </span >
</div>
<a href="#/step4" class="button button-block button-positive">
                    NEED US
                </a>
                <a href="#/step4" class="button button-block button-positive">
                    DONT NEED US
                </a>

                <a href="#/step4" class="button button-block button-positive">
                    CUSTOMER DOESN’T KNOW
                </a>
</ion-content>
</ion-view>
