<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-view title="Trending">
<ion-content ng-controller="ContentCtrl">
<div class="list">
    <div class="item my-item"
      collection-repeat="item in items"
      collection-item-width="'100%'"
      collection-item-height="getItemHeight(item, $index)">
      {{item}}
    </div>
  </div>
</ion-content>
</ion-view>
