/* Empty. Add your own CSS if you like */

.bar.bar-positive {
border-color: #878787;
background-color: #0c9258;
}

h1.title.ng-binding{
	color: #0c9258;
}

.bar.bar-assertive {
background-color: #0c9258;
color: #fff;
border-color: #878787;
background-image: transparent;
}

ion-nav-view{
	background-color: #fff;
}

.button.button-positive{

	background-color: #006d8c;
}

.tabs-positive > .tabs, .tabs.tabs-positive {
border-color: #fff;
background-color: #0c9258;
background-image: transparent;
color: #fff;
}

.my-item {
  left: 0;
  right: 0;
}